h1 {
    margin-top: 50px;
    text-align: center;
}

#buttons-view {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

#animal-form {
    text-align: center;
}

#add-animal {
    margin-top: 25px;
    margin-bottom: 15px;
}


body {
    height: 100%;
    
    
}